body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

header {
  color: black;
  font-size: 30px;
  margin: 10px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8em;
}

a {
  outline: none;
  color: #000;
  text-decoration: none;
}

code p {
  margin-bottom: 5px;
}

pre {
  margin-bottom: 20px;
  margin-left: 20px;
}

article {
  margin-left: 20px;
}

p {
  margin-bottom: 20px;
}

li {
  margin-left: 20px;
  margin-bottom: 20px;
}
